[submodule "api"]
	path = api
	url = git@github.com:rightinyourwheelhouse/wheelhouse-library-api.git
	branch = master
[submodule "app"]
	path = app
	url = git@github.com:rightinyourwheelhouse/wheelhouse-library-app.git
	branch = master
